node_modules
.pnpm-store
.next
dist
coverage
build
.turbo
.cache
*.tsbuildinfo

.DS_Store

.env
.env.*
!.env.example

apps/api/.env
apps/api/dist
apps/api/coverage
apps/api/storage

*.log
pnpm-debug.log*
